<div class="navbar-soguide">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-soguide-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-soguide-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Accueil", root_path, class: "navbar-soguide-item navbar-soguide-link" %>
      <%= link_to "Destinations", countries_path, class: "navbar-soguide-item navbar-soguide-link" %>
      <%= link_to "Conseils", "#", class: "navbar-soguide-item navbar-soguide-link" %>
      <%= link_to "A propos", "#", class: "navbar-soguide-item navbar-soguide-link" %>
      <%= link_to "Contact", "#", class: "navbar-soguide-item navbar-soguide-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-soguide-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-soguide-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
    <button type="button" class="btn-first" data-toggle="modal" data-target="#myModal">
    <span>Se connecter</span>
    </button>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-soguide-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-soguide-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>




<%= render 'shared/log_in_modal' %>
