<div class="banner" style="background-image:linear-gradient(-225deg, rgba(0, 78, 20, 0.6) 0%, rgba(0, 77, 20, 0.34) 50%), url('<%= asset_path("banner-a-savoir.jpg") %>')">
  <div class="banner-content">


  </div>
</div>
<div class="padded"></div>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Préparer son voyage avec un guide</h2>
      <p>7 questions à se poser</p>
      <p>Pour vous simplifier la vie, l’équipe SoGuide a répertorié ci-dessous les 7 grandes questions à poser et à se poser avant de confirmer son voyage avec un guide indépendant. Chacun de ces points peut avoir un impact important sur le prix et sur la qualité de votre voyage donc pensez à vérifier que vous avez toutes les clés en main pour bien choisir ! Dans tous les cas, n’hésitez pas à imprimer vos e-mails avant de partir car on n’est jamais trop prudent !</p>
    </div>
    </div>
    <div class="row">
<div class="padded-little"></div>
    <div class="col-md-6 card-img-pratique"  style="    border-top-left-radius: 30%;background-image:url('<%= asset_path("Pratique-1.jpg") %>')">
    </div>

    <div class="col-md-6 card-img-pratique"  style="    border-top-right-radius: 30%;background-image:url('<%= asset_path("Pratique-2.jpg") %>')">
    </div>
  </div>
</div>



<div class="padded"></div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="text-center">
        <button class="btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          La taille de votre groupe
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-block">
          <span  class="collapse-span">Abordez la question de la taille du groupe avec le guide !</span>
          <p  class="collapse-span">Un des principaux intérêts de partir avec un guide indépendant est de bénéficier d’un service particulier et d’éviter les « Tours » où se mêlent familles, personnes âgées et jeunes adolescents. Au sein de larges structures, les départs ne sont garantis qu’à partir d’un certain nombre de participants : les groupes sont donc souvent composés de 10 à 15 personnes. On comprend facilement les problèmes que cela peut poser pour des voyages culturels et encore plus pour des treks – pour lesquels les rythmes de marche peuvent fortement varier entre les participants.</p>

          <p class="collapse-span">Que vous soyez seul, en couple entre amis ou en famille, le guide indépendant s’adaptera toujours à votre situation et les variations de prix resteront relativement faibles au regard de ce qui se pratique généralement dans ce secteur. N’hésitez donc jamais à demander confirmation que vous ne serez pas rattachés à un groupe plus large – sauf bien entendu si vous le désirez.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p class="text-center">
        <button class="btn-default" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
          Le transfert de guide
        </button>
      </p>
      <div class="collapse" id="collapseExample2">
        <div class="card card-block">
          <span  class="collapse-span">Assurez-vous que votre interlocuteur sera bien votre guide !</span>
          <p  class="collapse-span">C’est sans doute une des pratiques les plus répandues et les plus problématiques pour la profession. En effet, si un guide commence à bénéficier d’une bonne réputation, le nombre de clients va rapidement augmenter. Ne pouvant répondre à la demande croissante, le guide va devoir faire appel à des amis ou de la famille pour l’aider. Cependant la réussite d’un voyage dépend souvent plus de la personnalité du guide que de la réputation de l’agence: un guide très compétent peut redistribuer ses clients – moyennant commission – à d’autres guides moins compétents.</p>
          <p class="collapse-span">Pour éviter de rencontrer ce problème deux solutions s’offrent à vous : (1) assurez vous que le guide en question sera bien votre accompagnateur lors de votre voyage – si besoin, imprimez vos échanges mails, (2) si l’on vous explique qu’un autre guide s’occupera de vous, recherchez des avis sur ce guide que ce soit dans les commentaires répertoriés sur SoGuide ou sur internet en général. Dans tous les cas, sachez que les bons guides auront tendance à s’associer à des guides compétents : pour vous aider dans votre choix, nous avons répertorié les principaux guides associés sur chacune des pages de nos guides référencés. Si vous rencontrez un problème de ce type, n’hésitez pas à nous contacter pour que nous puissions mettre en garde les futurs utilisateurs.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="padded"></div>
  <div class="row">
    <div class="col-md-6 card-img-pratique"  style="background-image:url('<%= asset_path("Pratique-3.jpg") %>')">
    </div>
    <div class="col-md-6 card-img-pratique"  style="background-image:url('<%= asset_path("Pratique-4.jpg") %>')">
    </div>
    </div>
</div>
</div>
<div class="padded"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="text-center">
        <button class="btn-default" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
          Les compétences de l'équipe
        </button>
      </p>
      <div class="collapse" id="collapseExample3">
        <div class="card card-block">
          <span  class="collapse-span">Assurez-vous des compétences de votre guide !</span>
          <p  class="collapse-span">Un guide culturel n’est pas nécessairement chauffeur et inversement. Une des questions les plus importantes que vous aurez à poser avant de confirmer votre voyage porte sur la composition précise de l’équipe et le rôle de chacun.</p>

          <p class="collapse-span">Si vous partez en voyage culturel, votre chauffeur est-il capable de vous expliquer l’histoire de certains monuments, a-t-il l’autorisation de rentrer dans les sites touristiques, votre guide est-il aussi le chauffeur ou y-a-t-il une autre personne ? Avez-vous un cuisinier, un porteur durant votre trek ? Toutes ces questions sont primordiales pour bien comprendre dans quoi vous vous engagez et les informations répertoriées dans la fiche de guide ne suffisent pas toujours à faire les bons choix.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p class="text-center">
        <button class="btn-default" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
          Les transports
        </button>
      </p>
      <div class="collapse" id="collapseExample4">
        <div class="card card-block">
          <span  class="collapse-span">Etudiez la question des transports avec votre guide !</span>
          <p  class="collapse-span">Dans la plupart des pays en développement, les transports sont un point crucial dans la réussite d’un séjour. Si vous réservez un trek, il est important de demander à quel moment commence la prise en charge, les zones de randonnée étant parfois situées à plusieurs heures de voiture.</p>
          <p class="collapse-span">Dans certains cas, les guides préféreront opter pour des transports publics sans que vous ne soyez vraiment au courant. Le mieux est donc d’être bien clair dès le départ. Si vous réservez un chauffeur ou un guide culturel, il peut être utile de vérifier l’état, l’âge et la taille de la voiture. Certains détails, comme la présence de climatisation, peuvent vite s’avérer d’une importance capitale pour de nombreuses destinations</p>
        </div>
      </div>
    </div>
  </div>
  <div class="padded"></div>
  <div class="row">
    <div class="col-md-6 card-img-pratique"  style="border-bottom-left-radius: 10%;background-image:url('<%= asset_path("Pratique-5.jpg") %>')">
    </div>
    <div class="col-md-6 card-img-pratique"  style="border-bottom-right-radius: 10%;background-image:url('<%= asset_path("Pratique-6.jpg") %>')">
    </div>
    </div>
</div>
</div>

<div class="padded"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="text-center">
        <button class="btn-default" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
          Les logements
        </button>
      </p>
      <div class="collapse" id="collapseExample5">
        <div class="card card-block">
          <span  class="collapse-span">Faites savoir à votre guide le type de logement qui vous correspond !</span>
          <p  class="collapse-span">Lorsque vous organisez un trek ou un séjour touristique, un des principaux coûts de votre guide sera le logement. Ainsi la différence de prix entre deux propositions de séjour peut parfois s’expliquer par la différence de logement. Pour un guide, le coût n’est pas le même s’il vous loge sous tente, chez l’habitant, en gîte ou en hôtel. C’est donc une question importante à  poser pour pouvoir bien comparer les propositions qui vous sont faites!</p>

          <p class="collapse-span">Si vous partez en randonnée il vous faudra souvent réserver des hôtels en ville avant et après le trek. Les guides et les chauffeurs ont tout intérêt à vous réserver des hébergements en ville à prix avantageux: d’une part ils disposent d’un réseau de contacts locaux, d’autre part il bénéficient de « prix d’agence » bien inférieurs à ceux du grand public. C’est d’ailleurs sur ces réservations que beaucoup de guides indépendants font leurs marges. Quelques rares cas mis à part, la différence entre les prix grand public et les prix d’agences permettent à la fois aux guides de faire des bénéfices et aux clients de faire de bonnes affaires! Si vous ne souhaitez pas passer des heures sur booking.com à dénicher la perle rare, nous vous recommandons donc de passer par vos guides pour réserver vos logements en ville.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p class="text-center">
        <button class="btn-default" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
          Les extras
        </button>
      </p>
      <div class="collapse" id="collapseExample6">
        <div class="card card-block">
          <span  class="collapse-span">Estimez vos dépenses « extras » avec votre guide !</span>
          <p  class="collapse-span">Pour augmenter leurs revenus, certains guides peuvent omettre certaines dépenses que vous pourriez avoir sur place. Pensez donc à demander ce qu’inclut et ce que n’inclut pas la prestation. Si vous prévoyez des visites avec un chauffeur, demandez-lui si les entrées dans les monuments sont à votre charge ou encore si des guides spécifiques sont nécessaires sur certains sites.</p>
          <p class="collapse-span">Si vous partez en trek, il vous faut tout d’abord savoir si les permis de treks sont compris dans le prix de votre séjour. Ensuite, n’hésitez pas à vous renseigner sur les équipements nécessaires : bâtons de marches, sacs de couchage, crampons, etc. Si vous ne pouvez vous procurer certains équipements, assurez-vous de connaître le prix de la location sur place et avisez en fonction. Enfin, n’hésitez pas à bien relire les mails qui vous ont été envoyés par vos guides : les boissons sont-elles comprises, des suppléments sont-ils nécessaires pour des logements de qualité supérieure ?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="padded"></div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 card-img-pratique"  style="background-image:url('<%= asset_path("Pratique-7.jpg") %>')">
    </div>
    <div class="padded-little"></div>
        <div class="col-md-6 col-md-offset-3">
      <p class="text-center">
        <button class="btn-default" type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
          Le mode de paiement
        </button>
      </p>
      <div class="collapse" id="collapseExample7">
        <div class="card card-block">
          <span  class="collapse-span">Abordez la question du paiement dès que possible !</span>
          <p  class="collapse-span">Plus la structure est importante, plus le règlement à payer en amont sera élevé. Les tours opérateurs vous demanderont de tout payer en avance, les agences locales vous demanderont un acompte, tandis que la plupart des guides indépendants demanderont à être payés en fin de séjour.</p>
          <p class="collapse-span">Nous vous conseillons de privilégier cette dernière option (exclusion faite des cas spécifiques comme les safaris ou autres voyages plus onéreux), non pas seulement pour vous épargner les frais de virements internationaux, mais aussi pour vous garantir le meilleur séjour possible – le guide ne pouvant se permettre de modifier sa prestation s’il n’a pas encore été payé. Dans tous les cas, rappelez-vous qu’un guide ou une agence tient plus à sa réputation qu’au prix de votre séjour !</p>
        </div>
      </div>
    </div>
    </div>
</div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
$(document).ready(function() {

});
  <% end %>
<% end %>

